<form class="form-horizontal" method="post">
    <fieldset>
        <div class="page-header">
          <h2>Join <%=proj.name%></h2>
        <h4><small>Say something to <%=proj.name%>'s leader,</small>
            <a href="/u/<%=proj.admin%>"><%=proj.admin%></a>
        <small>:</small></h4>
        </div>
        <div class="control-group">
            <div class="controls">
                <textarea class="input-xlarge" id="message"
                 name="message" rows="5"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><b>Go!</b></button>
            <a href="/p/<%=proj.id%>" class="btn">Never Mind</a>
        </div>
    </fieldset>
</form>